<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Ingreso de Datos</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">

      <!--steps-->
      <mat-stepper [linear]="isLinear" orientation="vertical" #stepper>
        <mat-step [stepControl]="primerFormGroup">
          <form [formGroup]="primerFormGroup">
            <ng-template matStepLabel>Paso 1</ng-template>
            <mat-form-field>
              <mat-label>Por favor envía tu ubicación</mat-label>
              <input matInput formControlName="ubicacion" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>

              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="segundoFormGroup" label="Paso 2">
          <form [formGroup]="segundoFormGroup">
            <mat-label>¿La matrícula está a nombre del tomador del seguro?</mat-label>
            <br>
            <mat-radio-group formControlName="matriculaNombreDelTomador" aria-label="Select an option">
              <mat-radio-button value="1">Si</mat-radio-button>
              <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>
            <div>
              <button mat-button matStepperPrevious>Regresar</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <!--3-->
        <mat-step [stepControl]="terceroFormGroup" label="Paso 3">
          <form [formGroup]="terceroFormGroup">
            <mat-label>Muchas gracias, ahora por favor toma una fotografía legible frontal de la matricula, allí podrás ver los datos del vehículo.</mat-label>
            <br>
            <button mat-raised-button color="primary" (click)="openCameraDialog(3)">
              Cámara</button>
            <br>
             <img *ngIf="matriculaFrontalPhoto" [src]="matriculaFrontalPhoto" alt="Foto Matricula" width="50%"/>
            <div>
              <button mat-button matStepperPrevious>Regresar</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
      <!--4-->
      <mat-step [stepControl]="cuartoFormGroup" label="Paso 4">
        <form [formGroup]="cuartoFormGroup">
          <mat-label>Muchas gracias, ahora por favor toma una fotografía legible posterior de la matrícula, allí podrás ver los datos del dueño del vehículo.</mat-label>
          <br>
          <button mat-raised-button color="primary" (click)="openCameraDialog(4)">
            Cámara</button>
          <br>
          <img *ngIf="matriculaPosteriorPhoto" [src]="matriculaPosteriorPhoto" alt="Foto Matricula" width="50%"/>
          <div>
            <button mat-button matStepperPrevious>Regresar</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>
      <!--5-->
      <mat-step [stepControl]="quintoFormGroup" label="Paso 5">
        <form [formGroup]="quintoFormGroup">
          <mat-label>Envíe la foto del número de chasis del vehículo</mat-label>
          <br>
          <button mat-raised-button color="primary" (click)="openCameraDialog(5)">
            Cámara</button>
          <br>
          <img *ngIf="chasisPhoto" [src]="chasisPhoto" alt="Foto Chasis" width="50%"/>
          <div>
            <button mat-button matStepperPrevious>Regresar</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>
      <!--6-->
      <mat-step [stepControl]="sextoFormGroup" label="Paso 6">
        <form [formGroup]="sextoFormGroup">
          <mat-label>Muchas gracias, por favor toma una fotografía de la parte frontal del vehículo, asegúrate que en la imagen se vean los retrovisores.</mat-label>
          <br>
          <button mat-raised-button color="primary" (click)="openCameraDialog(6)">
            Cámara</button>
          <br>
          <img *ngIf="frontalVehiculoPhoto" [src]="frontalVehiculoPhoto" alt="Foto Frontal" width="50%"/>
          <div>
            <button mat-button matStepperPrevious>Regresar</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>
      <!--7-->
      <mat-step [stepControl]="septimoFormGroup" label="Paso 7">
        <form [formGroup]="septimoFormGroup">
          <mat-label>Muchas gracias, ahora por favor toma una fotografía de la parte posterior del vehículo, asegúrate que en la imagen se vean los faros posteriores.</mat-label>
          <br>
          <button mat-raised-button color="primary" (click)="openCameraDialog(7)">
            Cámara</button>
          <br>
          <img *ngIf="posteriorVehiculoPhoto" [src]="posteriorVehiculoPhoto" alt="Foto Posterior" width="50%"/>
          <div>
            <button mat-button matStepperPrevious>Regresar</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <!--8-->
      <mat-step [stepControl]="septimoFormGroup" label="Paso 8">
        <form [formGroup]="septimoFormGroup">
          <mat-label>Muchas gracias, ahora por favor toma una fotografía de la parte lateral izquierda del vehículo, asegúrate que en la fotografía se vean los faros delanteros y traseros.</mat-label>
          <br>
          <button mat-raised-button color="primary" (click)="openCameraDialog(8)">
            Cámara</button>
          <br>
          <img *ngIf="izquierdaVehiculoPhoto" [src]="izquierdaVehiculoPhoto" alt="Foto Izquierda" width="50%"/>
          <div>
            <button mat-button matStepperPrevious>Regresar</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

        <mat-step>
          <ng-template matStepLabel>Registro</ng-template>
          <p>Gracias por usar nuestro servicio. Hasta la próxima.</p>
          <div>
            <button mat-button matStepperPrevious>Regresar</button>
            <button mat-button (click)="stepper.reset()">Reiniciar</button>
          </div>
        </mat-step>
      </mat-stepper>

      <!--end steps-->
  </mat-card-content>
</mat-card>
